// for-text
@mixin for-links-text ($ff, $fw, $fs, $lh, $ls, $color) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
    color: $color;

    text-decoration: none;
}

@mixin for-contacts-link--header ($fs, $lh) {
    font-size: $fs;
    line-height: $lh;
}

@mixin for-header ($fw, $fs, $lh, $ls) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
    color: $black-color;
}

@mixin for-text ($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $primary-font-color;
}

@mixin for-uppercase-header ($color) {
    font-weight: 700;
    font-size: $secondary-font-size;
    line-height: 1.14;
    text-transform: uppercase;

    color: $color;
}


// for-grids
@mixin for-grid-columns ($number) {
    display: grid;
    grid-template-columns: repeat($number, 1fr);
    gap: 30px;
}