%reset-ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

%reset-h-p {
    margin-top: 0;
    margin-bottom: 0;
}

%centering {
    margin-left: auto;
    margin-right: auto;
}

