$main-background-color: #fff5f6; // footer, how it's made
$accent-color: #d41443; //burger, button, h2, figures, text white button
$secondary-color: #ffa5ba; // elipse-header, label, icon social media, time in contact, text accent button
$main-text-color: #000000; // text advantages, text about 1 p, text custumer review
$secondary-text-color: #907e82; // text about 2 p, text contact(tel, email), footer text
$background-slider: #e1e1e1;
$elips-slider: #d9d9d9;
$background-header: #ffb8ca; // product 1, background header
$background-cafe: #f0d1a5; // product 2, food track,
$background-foodtrack: #c2e297; // product 3, food track
$button-hover-grey: #ecebeb;
$button-hover-accent: #c7133e;
$button-text: #ffffff;
