$main-background-color: #FFF5F6; // footer, how it's made
$accent-color: #D41443; //burger, button, h2, figures, text white button
$secondary-color: #FFA5BA; // elipse-header, label, icon social media, time in contact, text accent button
$main-text-color: #000000; // text advantages, text about 1 p, text custumer review
$secondary-text-color: #907E82; // text about 2 p, text contact(tel, email), footer text
$background-slider: #E1E1E1;
$elips-slider: #D9D9D9;
$background-header: #FFB8CA; // product 1, background header
$background-cafe: #F0D1A5; // product 2, food track,
$background-foodtrack: #C2E297; // product 3, food track
$button-hover-grey: #ECEBEB;
$button-hover-accent: #C7133E;
$button-text: #FFFFFF;