<section class="about container">
  <p class="about__label">tradition and love</p>
  <h2 class="about__title">how it’s made?</h2>
  <img class="about__img" src="./images/about/mobile/cow@1x.png" alt="cow and cup of milk" />
  <p class="about__text">
    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
    eget, egestas eros. Maecenas eleifend erat at justo fringilla.
  </p>
  <p class="about__text about__text--second">
    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
    imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
    Cras massa nibh, tincidunt.
  </p>
  <p class="about__text about__text--third">Aliquam erat volutpat. Aenean accumsan.</p>
  <button class="button about__btn" type="button">
    Read more
    <svg class="about__svg" width="10" height="10">
      <use href="./images/sprite.svg#icon-arrow-red"></use>
    </svg>
  </button>
</section>
