<section class="advantages">
    <div class="container">
        <h2 class="visually-hidden">Our advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list__item"><p class="advantages-list__text"><span class="advantages-list__label">721</span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
            <li class="advantages-list__item"><p class="advantages-list__text"><span class="advantages-list__label">16kg</span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
            <li class="advantages-list__item"><p class="advantages-list__text"><span class="advantages-list__label">84</span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
        </ul>
    </div>
</section>