<section class="section-contacts">
    <div class="container box">
        <h2 class="visually-hidden">contacts</h2>
        <ul class="contacts-grid">
            <li class="contacts-grid__item">
                <p class="title-cafe">CAFE</p>
                <!-- grid-town -->
                <ul class="grid-town grid-town__after">
                    <li class="grid-town__item">
                        <p class="grid-town__item--city">Chicago</p>
                    </li>
                    <li class="grid-town__item">
                        <p class="grid-town__item--text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                </ul>
                <!-- grid-data -->
                <ul class="grid-data">
                    <li class="grid-data__item">
                        <p class="grid-data__item--days">Monday - Friday</p>
                        <p class="grid-data__item--time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="grid-data__item">
                        <p class="grid-data__item--days">Saturday - Sunday</p>
                        <p class="grid-data__item--time"> 08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <!-- grid-link -->
                <ul class="grid-link">
                    <li class="grid-link__item">
                        <a class="grid-link__item--link"
                        href="tel:+61(0)383766284">
                        +61(0) 383 766 284</a>
                    </li>
                    <li class="grid-link__item">
                        <a class="grid-link__item--link" 
                        href="mailto:noreply@envato.com">
                        noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts-grid__item">
                <p class="title-cafe title-foodtrack">FOOD TRUCK</p>
                <!-- grid-town -->
                <ul class="grid-town grid-town__after">
                    <li class="grid-town__item">
                        <p class="grid-town__item--city">Los Angeles</p>
                    </li>
                    <li class="grid-town__item">
                        <p class="grid-town__item--text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                </ul>
                <!-- grid-data -->
                <ul class="grid-data">
                    <li class="grid-data__item">
                        <p class="grid-data__item--days">Monday - Friday</p>
                        <p class="grid-data__item--time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="grid-data__item">
                        <p class="grid-data__item--days">Saturday - Sunday</p>
                        <p class="grid-data__item--time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <!-- grid-link -->
                <ul class="grid-link"> 
                    <li class="grid-link__item">
                        <a 
                        class="grid-link__item--link"
                        href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="grid-link__item">
                        <a
                        class="grid-link__item--link"
                        href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts-grid__item">
                <p class="title-cafe">CAFE</p>
                <!-- grid-town -->
                <ul class="grid-town grid-town__after">
                    <li class="grid-town__item">
                        <p class="grid-town__item--city">New York</p>
                    </li>
                    <li class="grid-town__item">
                        <p class="grid-town__item--text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                </ul>
                <!-- grid-data -->
                <ul class="grid-data">
                    <li class="grid-data__item">
                        <p class="grid-data__item--days">Monday - Friday</p>
                        <p class="grid-data__item--time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="grid-data__item">
                        <p class="grid-data__item--days">Saturday - Sunday</p>
                        <p class="grid-data__item--time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <!-- grid-link -->
                <ul class="grid-link">
                    <li class="grid-link__item">
                        <a
                        class="grid-link__item--link"
                        href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="grid-link__item">
                        <a 
                        class="grid-link__item--link"
                        href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="contacts-button">
            <button type="button" class="button button--bigger button--red">Our Locations
                <svg class="button__icon button__icon--for-contact" width="8px" height="13px">
                    <use href="/images/sprite.svg#icon-arrow-white"></use>
                </svg>
            </button>
            <button type="button" class="button button--bigger button--white ">Franchise
                <svg class="button__icon button__icon--for-contact" width="8px" height="13px">
                    <use href="/images/sprite.svg#icon-arrow-red"></use>
                </svg>
            </button>
        </div>
    </div>
</section>s