<footer>
    <p><span>homemade ice cream made </span><span>with passion</span></p>
    <div>
    <ul class="">
        <li class="">
            <a class="social__link" href="" target="_blank">
                <svg class="">
                <use href='./images/sprite.svg#icon-GiTHub'></use>
            </svg>
            </a>
        </li>
        <li class="">
            <a class="" href="#" target="_blank">
                <svg class="social__icon">
                <use href='./images/sprite.svg#icon-telegram-105859'></use>
            </svg>
            </a>
        </li>
        <li class="">
            <a class="" href="#" target="_blank">
                <svg class="">
                <use href='./images/sprite.svg#icon-facebook'></use>
            </svg>
            </a> 
        </li>
        </ul>
    <address class="">
        <span>Feel free to contact </span>
        <a class="" href="tel:+610383766284">+61 (0) 383 766 284</a>
    </address>
    </div>
    <p>&copy; 2022 - IceCream. All Rights Reserved.</p>
    </footer>
    