<footer class="footer">
    <div class="container">
    <div class="footer__flex-container">
    <div class="footer__title--container">
 <p class="footer__title">homemade ice cream made</p>
  <p class="footer__title--lower">with passion</p>
</div>
    <div class="footer__contact">
    <ul class="social">
        <li class="social__item">
            <a class="social__link" href="https://github.com/" target="_blank">
                <svg class="social__icon">
                <use href='./images/sprite.svg#icon-GiTHub'></use>
            </svg>
            </a>
        </li>
        <li class="social__item">
            <a class="social__link" href="https://telegram.org" target="_blank">
                <svg class="social__icon">
                <use href='./images/sprite.svg#icon-telegram-105859'></use>
            </svg>
            </a>
        </li>
        <li class="social__item">
            <a class="social__link" href="https://www.facebook.com" target="_blank">
                <svg class="social__icon">
                <use href='./images/sprite.svg#icon-facebook'></use>
            </svg>
            </a> 
        </li>
        </ul>
    <address class="address">
        <span class="footer__adress">Feel free to contact </span>
        <a class="footer__adress--phone" href="tel:+610383766284">+61 (0) 383 766 284</a>
    </address>
    </div>
</div>
    <p class="footer__rights">&copy; 2022 - IceCream. All Rights Reserved.</p>
<a class="button button-home" href="#top">
    <svg class="button-home__icone" width="10" height="10">
        <use href="./images/sprite.svg#icon-arrow-white"></use>
    </svg>
</a>
</div>

</footer>

