<div class="backdrop modal js-franch-backdrop">
  <div class="modal-window">
    <p class="modal-title__label">want to be part of our team?</p>
    <h3 class="modal__title">ice cream</h3>
    <p class="modal-window__instructions">
      Our offer is better than bananas for minions!
    </p>

    <button type="button" class="close-button js-franch-backdrop--close">
      <svg class="close-button__icon" width="17" height="17">
        <use href="./images/sprite.svg#icon-menu-close"></use>
      </svg>
    </button>

    <div class="modal__franchise-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut iusto nemo autem, rem atque blanditiis cum delectus laborum reprehenderit, ullam quae culpa necessitatibus odio? Esse laboriosam totam veritatis alias officiis.</p>
        <p class="modal__franchise-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut iusto nemo autem, rem atque blanditiis cum delectus laborum reprehenderit, ullam quae culpa necessitatibus odio? Esse laboriosam totam veritatis alias officiis.</p>
    </div>
    

      <button type="submit" class="button button--bigger button--red backdrop-form__button">
        Become franchise
        <svg class="buy-button__icon" width="8" height="13">
          <use href="./images/sprite.svg#icon-arrow-white"></use>
        </svg>
      </button>

      <div class="icecreem-icon"></div>
    </form>
    <div class="modal__circle--xs"></div>
    <div class="modal__circle--m"></div>
    <div class="modal__circle--l"></div>
  </div>
</div>
