<container>
  <section class="gallery gradient-topdown">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery-items">
      <li class="gallery-item one"><img src="./images/gallery/desktop/pic-1@1x.png" alt="" /></li>
      <li class="gallery-item two"><img src="./images/gallery/desktop/pic-2@1x.png" alt="" /></li>
      <li class="gallery-item three"><img src="./images/gallery/desktop/pic-3@1x.png" alt="" /></li>
      <li class="gallery-item four"><img src="./images/gallery/desktop/pic-4@1x.png" alt="" /></li>
      <li class="gallery-item five"><img src="./images/gallery/desktop/pic-5@1x.png" alt="" /></li>
      <li class="gallery-item six"><img src="./images/gallery/desktop/pic-6@1x.png" alt="" /></li>
      <li class="gallery-item seven"><img src="./images/gallery/desktop/pic-7@1x.png" alt="" /></li>
      <li class="gallery-item eight"><img src="./images/gallery/desktop/pic-8@1x.png" alt="" /></li>
      <li class="gallery-item nine"><img src="./images/gallery/desktop/pic-9@1x.png" alt="" /></li>
      <li class="gallery-item ten"><img src="./images/gallery/desktop/pic-10@1x.png" alt="" /></li>
    </ul>
  </section>
</container>
