<section class="gallery gradient-topdown">
  <container class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery-items">
      <li class="gallery-item one">
        <picture>
          <source
            srcset="
              ./src/images/gallery/desktop/pic-1@1x.png 1x,
              ./src/images/gallery/desktop/pic-1@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./src/images/gallery/tablet/pic-1@1x.png 1x,
              ./src/images/gallery/tablet/pic-1@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./src/images/gallery/mobile/pic-1@1x.png 1x,
              ./src/images/gallery/mobile/pic-1@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./src/images/gallery/desktop/pic-1@1x.png" alt="" />
        </picture>
      </li>
      <li class="gallery-item two">
        <picture>
          <source
            srcset="
              ./src/images/gallery/desktop/pic-2@1x.png 1x,
              ./src/images/gallery/desktop/pic-2@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./src/images/gallery/tablet/pic-2@1x.png 1x,
              ./src/images/gallery/tablet/pic-2@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./src/images/gallery/mobile/pic-2@1x.png 1x,
              ./src/images/gallery/mobile/pic-2@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./src/images/gallery/desktop/pic-2@1x.png" alt="" />
        </picture>
      </li>
      <li class="gallery-item three">
        <picture>
          <source
            srcset="
              ./src/images/gallery/desktop/pic-3@1x.png 1x,
              ./src/images/gallery/desktop/pic-3@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./src/images/gallery/tablet/pic-3@1x.png 1x,
              ./src/images/gallery/tablet/pic-3@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./src/images/gallery/mobile/pic-3@1x.png 1x,
              ./src/images/gallery/mobile/pic-3@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./src/images/gallery/desktop/pic-3@1x.png" alt="" />
        </picture>
      </li>
      <li class="gallery-item four">
        <picture>
          <source
            srcset="
              ./src/images/gallery/desktop/pic-4@1x.png 1x,
              ./src/images/gallery/desktop/pic-4@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./src/images/gallery/tablet/pic-4@1x.png 1x,
              ./src/images/gallery/tablet/pic-4@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./src/images/gallery/mobile/pic-4@1x.png 1x,
              ./src/images/gallery/mobile/pic-4@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./src/images/gallery/desktop/pic-4@1x.png" alt="" />
        </picture>
      </li>
      <li class="gallery-item five">
        <picture>
          <source
            srcset="
              ./src/images/gallery/desktop/pic-5@1x.png 1x,
              ./src/images/gallery/desktop/pic-5@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./src/images/gallery/tablet/pic-5@1x.png 1x,
              ./src/images/gallery/tablet/pic-5@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./src/images/gallery/mobile/pic-5@1x.png 1x,
              ./src/images/gallery/mobile/pic-5@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./src/images/gallery/desktop/pic-5@1x.png" alt="" />
        </picture>
      </li>
      <li class="gallery-item six">
        <picture>
          <source
            srcset="
              ./src/images/gallery/desktop/pic-6@1x.png 1x,
              ./src/images/gallery/desktop/pic-6@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./src/images/gallery/tablet/pic-6@1x.png 1x,
              ./src/images/gallery/tablet/pic-6@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./src/images/gallery/mobile/pic-6@1x.png 1x,
              ./src/images/gallery/mobile/pic-6@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./src/images/gallery/desktop/pic-6@1x.png" alt="" />
        </picture>
      </li>
      <li class="gallery-item seven">
        <picture>
          <source
            srcset="
              ./src/images/gallery/desktop/pic-7@1x.png 1x,
              ./src/images/gallery/desktop/pic-7@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./src/images/gallery/tablet/pic-7@1x.png 1x,
              ./src/images/gallery/tablet/pic-7@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./src/images/gallery/mobile/pic-7@1x.png 1x,
              ./src/images/gallery/mobile/pic-7@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./src/images/gallery/desktop/pic-7@1x.png" alt="" />
        </picture>
      </li>
      <li class="gallery-item eight">
        <picture>
          <source
            srcset="
              ./src/images/gallery/desktop/pic-8@1x.png 1x,
              ./src/images/gallery/desktop/pic-8@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./src/images/gallery/tablet/pic-8@1x.png 1x,
              ./src/images/gallery/tablet/pic-8@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./src/images/gallery/mobile/pic-8@1x.png 1x,
              ./src/images/gallery/mobile/pic-8@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./src/images/gallery/desktop/pic-8@1x.png" alt="" />
        </picture>
      </li>
      <li class="gallery-item nine">
        <picture>
          <source
            srcset="
              ./src/images/gallery/desktop/pic-9@1x.png 1x,
              ./src/images/gallery/desktop/pic-9@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./src/images/gallery/tablet/pic-9@1x.png 1x,
              ./src/images/gallery/tablet/pic-9@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./src/images/gallery/mobile/pic-9@1x.png 1x,
              ./src/images/gallery/mobile/pic-9@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./src/images/gallery/desktop/pic-9@1x.png" alt="" />
        </picture>
      </li>
      <li class="gallery-item ten">
        <picture>
          <source
            srcset="
              ./src/images/gallery/desktop/pic-10@1x.png 1x,
              ./src/images/gallery/desktop/pic-10@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./src/images/gallery/tablet/pic-10@1x.png 1x,
              ./src/images/gallery/tablet/pic-10@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./src/images/gallery/mobile/pic-10@1x.png 1x,
              ./src/images/gallery/mobile/pic-10@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./src/images/gallery/desktop/pic-10@1x.png" alt="" />
        </picture>
      </li>
    </ul>
  </container>
</section>
