<header class="header-styles">
  <div class="container container__flex header-container">
      <a class="company" href="index.html" id="logo">
        <img
          class="company__logo"
          srcset="./images/logo/logo@1x.png 1x, ./images/logo/logo@2x.png 2x"
          src="./images/logo/logo@2x.png"
          alt="icecream company logo"
        />
        <span class="company__name">icecream</span>
      </a>
      <button
        class="menu-button menu-button--opener menu-toggle js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-button__icon--open" width="20" height="12">
          <use href="./images/sprite.svg#icon-menu-opener"></use>
        </svg>
      </button>

      <div class="menu-wrapper js-menu-container" id="mobile-menu">
        <button class="menu-button menu-button--close menu-toggle js-close-menu" type="button">
          <svg class="menu-button__icon--close" width="14" height="14">
            <use href="./images/sprite.svg#icon-menu-close"></use>
          </svg>
        </button>
        <button class="button button--bigger button--white buy-button" type="button" data-modal-open>
          Buy now
          <svg class="buy-button__icon" width="8" height="13">
            <use href="./images/sprite.svg#icon-arrow-red"></use>
          </svg>
        </button>
        <nav class="site-nav">
          <ul class="site-nav__list">
            <li class="site-nav__item"><a class="site-nav__link" href="#logo">Home</a></li>
            <li class="site-nav__item"><a class="site-nav__link" href="#advantages">About us</a></li>
            <li class="site-nav__item"><a class="site-nav__link" href="#about-section">How it’s made?</a></li>
            <li class="site-nav__item"><a class="site-nav__link" href="#products-section">Our products</a></li>
            <li class="site-nav__item"><a class="site-nav__link" href="#contacts-section">Contact</a></li>
          </ul>
        </nav>
      </div>
      <button class="button button--bigger button--white buy-button--for-header" type="button" data-modal-open>
        Buy now
        <svg class="buy-button__icon" width="8" height="13">
          <use href="./images/sprite.svg#icon-arrow-red"></use>
        </svg>
      </button>
    </div>
  </div>
</header>



