<div id="myModal" class="backdrop modal" data-modal>
  <div class="modal-window">
    <p class="modal-title__label">hey! this is the order form of the most delicious</p>
    <h3 class="modal__title">ice cream</h3>
    <p class="modal-window__instructions">
      Fill in below order form and our managers will immediately contact you to specify details.
    </p>

    <button type="button" class="close-button close" data-modal-close>
      <svg class="close-button__icon" width="17" height="17">
        <use href="./images/sprite.svg#icon-menu-close"></use>
      </svg>
    </button>

    <form class="backdrop-form" autocomplete="off">
      <div class="backdrop-form__group backdrop-form__group--first">
        <input
          name="user-name"
          type="text"
          class="backdrop-form__input"
          id="user-name"
          placeholder=" "
          required
        />
        <label for="user-name" class="backdrop-form__label"> Name </label>
      </div>

      <div class="backdrop-form__group">
        <input
          name="phone-number"
          type="tel"
          class="backdrop-form__input"
          id="phone-number"
          placeholder=" "
          required
        />
        <label for="phone-number" class="backdrop-form__label"> Phone number</label>
      </div>

      <div class="backdrop-form__group">
        <input
          name="e-mail"
          type="email"
          class="backdrop-form__input"
          id="e-mail"
          placeholder=" "
          required
        />
        <label for="e-mail" class="backdrop-form__label"> E-mail </label>
      </div>

      <div class="backdrop-form__group">
        <textarea
          name="comment"
          class="backdrop__comment"
          placeholder="Comment"
          id="comment"
        ></textarea>
        <label for="comment" class="backdrop-form__coment-label"
          >Нou can leave a comment for us below if you want
        </label>
      </div>

      <button type="submit" class="button button--bigger button--red backdrop-form__button">
        Get my ice cream
        <svg class="buy-button__icon" width="8" height="13">
          <use href="./images/sprite.svg#icon-arrow-white"></use>
        </svg>
      </button>

      <div class="icecreem-icon"></div>
    </form>
    <div class="modal__circle--xs"></div>
    <div class="modal__circle--m"></div>
    <div class="modal__circle--l"></div>
  </div>
</div>
