<section class="hero-section">
  <div class="container container__flex hero-section__container">
    <div class="hero-positioning">
      <div class="hero-positioning--first">
        <h1 class="hero-section__title">
          ice cream made with <span class="hero-section__title--red-part">passion</span>
        </h1>
        <ul class="hero-buttons">
          <li class="hero-buttons__item">
            <a class="button button--smaller button--red" href="#products-section">Products</a>
          </li>
          <li class="hero-buttons__item">
            <a class="button button--smaller button--white" href="#about-section">How it’s made?</a>
          </li>
        </ul>
      </div>
      <div class="hero-positioning--second">
        <picture class="bio-eco-milk__milk-jar">
          <source
            srcset="
              ./images/hero/tablet/milk-jar@1x.png 1x,
              ./images/hero/tablet/milk-jar@2x.png 2x
            "
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./images/hero/desktop/milk-jar@1x.png 1x,
              ./images/hero/desktop/milk-jar@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img src="./images/hero/desktop/icecream@2x.png" alt="jar with milk" />
        </picture>
        <div class="bio-eco-milk__positioning">
         
          <input type="checkbox" id="full-text" class="visually-hidden"/>
           <p class="bio-eco-milk_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <p class="bio-eco-milk_description bio-eco-milk_full-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <label for="full-text" class="bio-eco-milk__button">
            <svg class="bio-eco-milk__icon" width="8" height="8">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </label>
          </div>
      </div>
    </div>
    <ul class="establishments">
      <li class="establishments__item">
        <p class="establishments__count">16<span class="establishments__name">cafes</span></p>
      </li>
      <li class="establishments__item">
        <p class="establishments__count">23<span class="establishments__name">food trucks</span></p>
      </li>
    </ul>

    <picture class="mr-icecream">
      <source
        srcset="./images/hero/mobile/icecream@1x.png 1x, ./images/hero/mobile/icecream@2x.png 2x"
        media="(max-width: 767px)"
      />
      <source
        srcset="./images/hero/tablet/icecream@1x.png 1x, ./images/hero/tablet/icecream@2x.png 2x"
        media="(max-width: 1279px)"
      />
      <source
        srcset="./images/hero/desktop/icecream@1x.png 1x, ./images/hero/desktop/icecream@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <img src="./images/hero/desktop/icecream@2x.png" alt="our hero - Mr. Icecream" />
    </picture>

    <div class="pink-cirkle"></div>

    <picture class="hero-section__customer">
      <source
        srcset="./images/hero/tablet/girl@1x.png 1x, ./images/hero/tablet/girl@2x.png 2x"
        media="(max-width: 1279px)"
      />
      <source
        srcset="./images/hero/desktop/girl@1x.png 1x, ./images/hero/desktop/girl@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <img
        src="./images/hero/desktop/girl@2x.png"
        alt="a girl in a blue swimsuit eats an ice cream cone"
      />
    </picture>
  </div>
</section>
