<header class="header-styles">
  <div class="container">
    <a class="company" href="#">
      <img class="company__logo" src="" alt="" />
      <span class="company__name">icecream</span>
    </a>
    <button
      class="menu-toggle js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-button__icon--open" width="20" height="12">
        <use href=""></use>
      </svg>
    </button>
    <div class="menu-wrapper js-menu-container" id="mobile-menu">
      <button class="menu-toggle js-close-menu" type="button">
        <svg class="menu-button__icon--close" width="14" height="14">
          <use href=""></use>
        </svg>
      </button>
      <button class="button button--bigger button--white" type="button">
        Buy now
        <svg class="button__icon">
          <use href="./images/sprite.svg#icon-arrow-red"></use>
        </svg>
      </button>
      <nav class="site-nav">
        <ul>
          <li class="site-nav__item"><a class="site-nav__link" href="#">Home</a></li>
          <li class="site-nav__item"><a class="site-nav__link" href="#">About us</a></li>
          <li class="site-nav__item"><a class="site-nav__link" href="#">How it’s made?</a></li>
          <li class="site-nav__item"><a class="site-nav__link" href="#">Our products</a></li>
          <li class="site-nav__item"><a class="site-nav__link" href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
