<div class="backdrop js-location-backdrop js-location-backdrop__is-hidden">
  <div class="location-modal">
    <button type="button" class="close-button js-location-backdrop--close">
      <svg class="close-button__icon" width="17" height="17">
        <use href="./images/sprite.svg#icon-menu-close"></use>
      </svg>
    </button>

    <div class="location-modal__positioning">
      <input
        class="city-button visually-hidden chicago-city"
        type="radio"
        name="loc-city"
        id="chicago-city"
        checked
      />
      <label for="chicago-city" class="city-label loc-filter">Chicago</label>
      <input
        class="city-button visually-hidden los-angeles-city"
        type="radio"
        name="loc-city"
        id="los-angeles-city"
      />
      <label for="los-angeles-city" class="city-label loc-filter">Los Angeles</label>
      <input
        class="city-button visually-hidden new-york-city"
        type="radio"
        name="loc-city"
        id="new-york-city"
      />
      <label for="new-york-city" class="city-label loc-filter">New York</label>

      <article class="location__card los-angeles">
        <div class="location__card--positioning">
          <p class="location__title title-foodtrack">food truck</p>
          <p class="location__city">Long Beach Fuel Pier</p>
          <ul class="location__contacts">
            <li class="location__contact">
              <a class="location__link" href="tel:+61(0)383766284"> +61(0) 383 766 284</a>
            </li>
            <li class="location__contact">
              <a class="location__link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
            </li>
          </ul>
        </div>
        <iframe
          class="location__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d178353.15733283985!2d-118.38325534262778!3d33.836964750627864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2cae84099d759%3A0xa1003afac42a8faa!2z0JvQvtC90LMt0JHQuNGHLCDQmtCw0LvQuNGE0L7RgNC90LjRjywg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1644085115577!5m2!1sru!2sua"
        ></iframe>
      </article>

      <article class="location__card new-york">
        <div class="location__card--positioning">
          <p class="location__title title-cafe">cafe</p>
          <p class="location__city">Central Park</p>
          <ul class="location__contacts">
            <li class="location__contact">
              <a class="location__link" href="tel:+61(0)383766284"> +61(0) 383 766 284</a>
            </li>
            <li class="location__contact">
              <a class="location__link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
            </li>
          </ul>
        </div>
        <iframe
          class="location__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.127098125733!2d-73.96870248416431!3d40.78121987932433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2589a018531e3%3A0xb9df1f7387a94119!2z0KbQtdC90YLRgNCw0LvRjNC90YvQuSDQv9Cw0YDQug!5e0!3m2!1sru!2sua!4v1644088049661!5m2!1sru!2sua"
        ></iframe>
      </article>

      <article class="location__card chicago">
        <div class="location__card--positioning">
          <p class="location__title title-cafe">cafe</p>
          <p class="location__city">Rainbow Beach</p>
          <ul class="location__contacts">
            <li class="location__contact">
              <a class="location__link" href="tel:+61(0)383766284"> +61(0) 383 766 284</a>
            </li>
            <li class="location__contact">
              <a class="location__link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
            </li>
          </ul>
        </div>
        <iframe
          class="location__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d77269.81965533686!2d-87.56188365980452!3d41.739547415643244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2824ab0a7bf1%3A0xa3a6c597cff5b124!2z0KDQtdC50L3QsdC-0YMg0JHQuNGH!5e0!3m2!1sru!2sua!4v1644087890255!5m2!1sru!2sua"
        ></iframe>
      </article>
    </div>
  </div>
</div>
