<section class="products">
    <div class="container">
        <p class="products__set">100% natural</p>
        <h2 class="products__title">products</h2>
    <ul class="products__list">
        <li class="products__item">
            <h3 class="products__product-name">ice cream</h3>
           <div class="products__wrap">
               <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et</p>
                <input type="checkbox" id="ice-cream" hidden />
                <p class="products__text-two">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil provident
                    corporis cum numquam accusamus. Dignissimos, dolores vitae voluptate, quam, neque
                    provident impedit suscipit molestiae facilis dolorum fugit deleniti. 
                </p>
                <label for="ice-cream" class="button__circle--white">
                    <svg class="products__icon" width="10" height="10">
                        <use href="./images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </label>
            </div>
        </li>
        <li class="products__item">
            <h3 class="products__product-name">ice coffee</h3>
<div class="products__wrap">
    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et</p>
    <input type="checkbox" id="ice-coffee" hidden />
    <p class="products__text-two">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil provident
        corporis cum numquam accusamus. Dignissimos, dolores vitae voluptate, quam, neque
        provident impedit suscipit molestiae facilis dolorum fugit deleniti.
    </p>
    <label for="ice-coffee" class="button__circle--white">
        <svg class="products__icon" width="10" height="10">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
    </label>
</div>
        </li>
        <li class="products__item">
            <h3 class="products__product-name">milkshakes</h3>
<div class="products__wrap">
    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et</p>
    <input type="checkbox" id="milkshakes" hidden />
    <p class="products__text-two">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil provident
        corporis cum numquam accusamus. Dignissimos, dolores vitae voluptate, quam, neque
        provident impedit suscipit molestiae facilis dolorum fugit deleniti.
    </p>
    <label for="milkshakes" class="button__circle--white">
        <svg class="products__icon" width="10" height="10">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
    </label>
</div>
        </li>
    </ul>
    </div>
</section>