<section class="review">
    <div class="container">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide customer-item"><img src="./images/reviews/photo1@1x.png">
                    <article class="slider">
                        <p class="slider__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p> 
                    </article>
                    <p class="slader__adress">Emily, Los Angeles</p>
                </div>

                <div class="swiper-slide"><img src="./images/reviews/photo2@1x.png">
                    <article class="slider">
                        <p class="slider__comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, rerum.</p>
                    </article>
                    <p class="slader__adress">Sara, Los Angeles</p>
                </div>


                <div class="swiper-slide"><img src="./images/reviews/photo3@1x-1.png" alt="">
                    <article class="slider">
                        <p class="slider__comment"> Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>   
                    </article>
                    <p class="slader__adress">Kira, Los Angeles</p>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
            <!-- <div>
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(1)"></span>
            </div> -->
            <!-- <div class="swiper-pagination"></div> -->
       
<!-- Swiper JS -->
<!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->

<!-- Initialize Swiper -->
<!-- <script src="/src/swiper.js"></script> -->
</section>