<section class="review">
    <div class="container">
        <div class="swiper mySwiper">
            <div class="swiper-container">
                <div class="mySlides swiper-slide customer-item"><img src="./images/reviews/photo1@1x.png">

                </div>

                <div class="mySlides  swiper-slide"><img src="./images/reviews/photo2@1x.png"></div>

                <div class="mySlides  swiper-slide"><img src="./images/reviews/photo3@1x-1.png" alt=""></div>
            </div>

            <div>
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(1)"></span>
            </div>
            <!-- <div class="swiper-pagination"></div> -->
        
        <article class="slider">
            <p class="slider__comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            
        </article>
    </div>
<p class="slader__adress">Emily, Los Angeles</p>
        </div>
    </div>
</section>