 <section class="review">
  <div class="container"> 
 
            <div class="swiper mySwiper">
              
                <div class="swiper-wrapper">
                  <article class="swiper-slide customer-item">
                    <img
                    class="swiper-slide__img"
                    src="./images/reviews/photo1@1x.png"
                    srcset="./images/reviews/photo1@1x.png 1x, ./images/reviews/photo1@2x.png 2x"
                  />
                  <p class="slider__comment">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                    nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                  <p class="slider__adress">Emily, Los Angeles</p>
                  </article>
                  <article class="swiper-slide">
                    <img
                    class="swiper-slide__img"
                    src="./images/reviews/photo2@1x.png"
                    srcset="./images/reviews/photo2@1x.png 1x, ./images/reviews/photo2@2x.png 2x"
                  />
          
                  <p class="slider__comment">
                    Lorem ipsum primis in nibh vel risus. Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                    nulla quam nunc, accumsan congue. 
                  </p>
                  <p class="slider__adress">Sara, Chicago</p>
                  </article>
                  <article class="swiper-slide"> <img
                    class="swiper-slide__img"
                    src="./images/reviews/photo3@1x-1.png"
                    srcset="./images/reviews/photo3@1x-1.png 1x, ./images/reviews/photo3@2x-1.png 2x"
                  />
                  <p class="slider__comment">
                    Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                    risus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <p class="slider__adress">Kira, New York</p></article>
                </div>
                <div class="swiper-pagination"></div>
              </div>
  </div>
</section>
