.container {
  @extend %centering;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 767px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.container__flex {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.container__flex--wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.container__flex--baseline {
  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.container__flex--column {
  @media screen and (min-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
