.about {
  padding-top: 125px;
  padding-bottom: 40px;
  background-color: $main-background-color;
}

.about__label {
  margin-bottom: 15px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;
}

.about__title {
  margin-bottom: 26px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @extend %centering;

  max-width: 200px;

  color: $accent-color;
}

.about__img {
  margin-bottom: 46px;
  @extend %centering;
}

.about__text {
  max-width: 220px;
  margin-bottom: 46px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;

  @extend %centering;

  color: $main-text-color;
}

.about__text--second,
.about__text--third {
  margin-bottom: 25px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;

  color: $secondary-text-color;
}

.about__btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  background: $button-text;
  border-radius: 22px;

  color: $accent-color;
  max-width: 176px;
  max-height: 44px;

  padding: 12px 30px 12px 30px;

  border: none;

  @extend %centering;
}
.about__svg {
  margin-left: 15px;
}
