.section-contacts {
  width: 100%;
  background-image: linear-gradient($button-text 87px, $main-background-color 24px);

  @media screen and (min-width: 1280px) {
    background-image: url(../images/contacts/desktop/bg@1x.png),
      linear-gradient($button-text 87px, $main-background-color 24px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 23%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/contacts/desktop/bg@2x.png),
        linear-gradient($button-text 87px, $main-background-color 24px);
    }
  }
}

// contacts-grid
.contacts-grid {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media screen and (min-width: 1280px) {
    gap: 30px;
  }
}

.contacts-grid__item {
  background-color: $button-text;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 100%;

  @media screen and (max-width: 479px) {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 330px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  @media screen and (min-width: 768px) {
    padding: 50px 32px;
  }

  @media screen and (min-width: 1280px) {
    padding: 52px 44px;
  }
}

.contacts-grid__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.contacts-positioning {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    text-align: center;
  }
}
// title
.contacts-grid__title {
  display: inline-block;

  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $button-text;

  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    margin-bottom: 25px;

    font-size: 12px;
    border-radius: 4px;
  }

  @media screen and (min-width: 768px) {
    padding: 0 16px;
    margin-bottom: 32px;

    font-size: 16px;
    border-radius: 6px;
  }
}

.title-cafe {
  background-color: $background-cafe;
}

.title-foodtrack {
  background-color: $background-foodtrack;
}

// grid-town
.contacts-grid__city {
  font-weight: 500;
  line-height: 1.86;
  color: $main-text-color;
  letter-spacing: 0.04em;

  @media screen and (max-width: 767px) {
    font-size: 12px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts-grid__text {
  margin-top: 10px;

  line-height: 1.5;
  color: $secondary-text-color;

  @media screen and (max-width: 767px) {
    font-size: 12px;
  }

  @media screen and (min-width: 768px) {
    line-height: 1.66;
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    line-height: 1.83;
    font-size: 16px;
  }
}

.contacts-grid__positioning {
  position: relative;
  width: 100%;
}

.contacts-grid__positioning::after {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  background: $background-slider;
  width: 100%;

  @media screen and (max-width: 767px) {
    bottom: -25px;
  }

  @media screen and (min-width: 768px) {
    bottom: -30px;
  }
}

// grid-data
.contacts-grid__working-hour,
.contacts-grid__contacts {
  @media screen and (max-width: 767px) {
    margin-top: 50px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 64px;
  }
}

.contacts-grid__working-hour {
  position: relative;
}

.contacts-grid__working-hour::after {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  background: $background-slider;
  width: 100%;

  @media screen and (max-width: 479px) {
    bottom: -25px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    bottom: -30px;
  }
}

.contacts-grid__weekday {
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}

.contacts-grid__day,
.contacts-grid__time,
.contacts-grid__link {
  line-height: 1.86;
  letter-spacing: 0.04em;

  @media screen and (max-width: 767px) {
    font-size: 12px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts-grid__day {
  font-weight: 500;

  margin-bottom: 10px;
}

.contacts-grid__time {
  color: $secondary-color;
  text-transform: uppercase;
}

// grid-link
.contacts-grid__link {
  line-height: 1.5;
  text-decoration: none;
  color: $secondary-text-color;
}

.contacts-grid__contact:first-child {
  margin-bottom: 7px;
}

// contacts-button
.contacts-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 113px;
  margin-top: 54px;

  @media screen and (min-width: 768px) {
    flex-wrap: none;
    flex-direction: inherit;
    padding-bottom: 165px;
  }
}
.button--perimeter {
  // media-width-button
  @media screen and (min-width: 768px) {
    min-width: 190px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 200px;
  }
  // -----------------------
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 15px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.button__icon--for-contact {
  @media screen and (max-width: 767px) {
    margin-left: 8px;
  }
}
