.gradient--topdown {
  background-image: linear-gradient($main-background-color 40%, transparent 40%);
}

.gallery__items {
  display: grid;
  justify-content: center;
  gap: 2px;

  @media screen and (max-width: 479px) {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 3.7vw);
  }
  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(7, 61px);
    grid-template-rows: repeat(9, 19px);
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(7, 85px);
    grid-template-rows: repeat(9, 25px);
    gap: 5px;
  }
  @media screen and (min-width: 1280px) {
    gap: 6px;

    grid-template-columns: repeat(7, 139px);
    grid-template-rows: repeat(9, 42px);
  }
}
.gallery__items-item {
  transform: scale(1);
  border-radius: 20px;
  z-index: 1;
  box-shadow: 0px 0px 0px #c0c0c0;

  transition: $transition transform, $transition z-index, $transition box-shadow;

  &:hover,
  &:focus {
    transform: scale(1.1);
    transform: rotate(3deg);
    z-index: 999;
    box-shadow: 5px 5px 5px #c0c0c0;
  }
}

.gallery__items-image {
  @media screen and (max-width: 767px) {
    min-width: 100%;
  }
}

.item-1 {
  grid-column: 1/2;
  grid-row: 4/7;
}

.item-2 {
  grid-column: 2/3;
  grid-row: 3/6;
}

.item-3 {
  grid-column: 2/3;
  grid-row: 6/9;
}

.item-4 {
  grid-column: 3/5;
  grid-row: 1/7;
}

.item-5 {
  grid-column: 3/4;
  grid-row: 7/10;
}

.item-6 {
  grid-column: 5/6;
  grid-row: 3/6;
}

.item-7 {
  grid-column: 5/6;
  grid-row: 6/9;
}

.item-8 {
  grid-column: 6/7;
  grid-row: 2/5;
}

.item-9 {
  grid-column: 6/7;
  grid-row: 5/8;
}

.item-10 {
  grid-column: 7/8;
  grid-row: 4/7;
}
