.header-styles {
  position: absolute;
  top: 0;
  z-index: 99;

  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding: 6px 0;
  }

  @media screen and (min-width: 768px) {
    padding: 37px 0;
  }
}

.company__name {
  display: inline-block;
  margin-left: 20px;

  font-family: $font-family-heading;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
}

.menu-button {
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.menu-button__icon--open,
.menu-button__icon--close {
  transition: fill $transition;
}

.menu-button__icon--open {
  fill: $accent-color;
}

.menu-button:hover .menu-button__icon--open,
.menu-button:focus .menu-button__icon--open {
  fill: $button-text;
}
.menu-button__icon--close {
  fill: $button-text;
}

.menu-button:hover .menu-button__icon--close,
.menu-button:focus .menu-button__icon--close {
  fill: $accent-color;
}

.menu-button--opener {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.menu-button--close {
  position: absolute;
  top: 23px;
  right: 28px;
}

.menu-button--opener,
.menu-button--close {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu-wrapper {
  transition: transform $transition;

  @media screen and (max-width: 449px) {
    width: 78vw;
  }

  @media screen and (min-width: 450px) and (max-width: 767px) {
    width: 57vw;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 33vw;
  }

  @media screen and (max-width: 1279px) {
    position: fixed;
    top: 0;
    right: 0;

    height: 100vh;
    padding: 60px 20px;

    text-align: center;
    background-color: #e17992;

    transform: translateX(100%);
  }

  @media screen and (min-width: 1280px) {
    position: static;
  }
}

.menu-wrapper.is-open {
  transform: translateX(0);
}

.buy-button {
  min-width: 209px;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.buy-button--for-header {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 0;
  }
}

.buy-button__icon {
  margin-left: 20px;
}

.site-nav {
  @media screen and (max-width: 1279px) {
    margin-top: 19px;

    text-align: left;
  }
}

.site-nav__list {
  @media screen and (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    text-align: center;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.site-nav__item {
  position: relative;
}

.site-nav__item:not(:first-child) {
  @media screen and (min-width: 1280px) {
    margin-left: 35px;
  }
}

@media screen and (max-width: 1279px) {
  .site-nav__item:nth-child(2n + 1)::before {
    position: absolute;
    left: -20px;
    display: block;
    content: '';
    width: calc(100% + 40px);
    height: 1px;
    background-color: #e18298;
  }

  .site-nav__item:nth-child(2n)::before {
    @media screen and (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
      position: absolute;
      left: -20px;
      display: block;
      content: '';
      width: calc(100% + 40px);
      height: 1px;
      background-color: #e18298;
    }
  }

  .site-nav__item:nth-child(2n + 1)::after {
    position: absolute;
    left: -20px;
    display: block;
    content: '';
    width: calc(100% + 40px);
    height: 1px;
    background-color: #e18298;
  }

  .site-nav__item:nth-child(2n)::after {
    @media screen and (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
      position: absolute;
      left: -20px;
      display: block;
      content: '';
      width: calc(100% + 40px);
      height: 1px;
      background-color: #e18298;
    }
  }

  .site-nav__item:last-child {
    @media screen and (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
      grid-area: 3 / 1 / 4 / 3;
    }
  }
}

.site-nav__link {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 13px;
  font-family: $main-font;
  font-weight: 700;

  color: $button-text;

  transition: color $transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (max-width: 1279px) {
    font-size: 14px;
    line-height: 1.29;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.31;
  }

  @media screen and (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
    padding-top: 17px;
    padding-bottom: 20px;
  }
}
