.hero-section {
  margin: 0 auto;
  background-color: $background-header;

  overflow: hidden;

  @media screen and (max-width: 479px) {
    position: relative;
    overflow: hidden;
  }

  @media screen and (max-width: 767px) {
    position: relative;
    overflow: hidden;

    padding-top: 193px;
    padding-bottom: 160px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 96px;
    padding-bottom: 28px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 160px;
    padding-bottom: 45px;
  }
}

.hero-section__container {
  flex-wrap: wrap;
  align-items: flex-start;
}

.hero-section__container {
  @media screen and (min-width: 480px) {
    position: relative;
    overflow: visible;
  }

  @media screen and (min-width: 768px) {
    padding-right: 30px;
  }
}

.hero-positioning {
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero-positioning--first {
  @media screen and (max-width: 1279px) {
    padding-top: 6px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 15px;
  }
}

.hero-section__title {
  position: relative;
  z-index: 98;

  font-family: $font-family-heading;
  font-weight: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $button-text;

  @media screen and (max-width: 767px) {
    width: 218px;

    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 768px) {
    width: 162px;

    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    width: 277px;

    font-size: 38px;
    line-height: 1.15;
  }
}

.hero-section__title--red-part {
  color: $accent-color;

  @media screen and (max-width: 767px) {
    font-size: 48px;
    line-height: 0.97;
  }

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.9;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.hero-buttons {
  position: relative;
  z-index: 98;

  display: flex;

  @media screen and (max-width: 767px) {
    margin-top: 19px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 25px;
  }
}

.hero-buttons__item:not(:first-child) {
  @media screen and (max-width: 1279px) {
    margin-left: 8px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 15px;
  }
}

.hero-positioning--second {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-end;

    margin-top: 19px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: flex-end;

    margin-top: 56px;
  }
}

.bio-eco-milk__milk-jar {
  max-width: 100%;
  height: auto;

  animation: jar-rotation 3s infinite;
}

.bio-eco-milk__positioning {
  @media screen and (max-width: 1279px) {
    max-width: 114px;
    padding-bottom: 6px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 200px;
    padding-bottom: 10px;
    margin-left: 30px;
  }
}

.bio-eco-milk_description {
  font-family: $main-font;
  color: $button-text;

  @media screen and (max-width: 1279px) {
    font-size: 8px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.4;
  }
}

.bio-eco-milk__button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $button-text;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: $button-hover-grey;
  }

  @media screen and (max-width: 1279px) {
    margin-top: 7px;
    width: 18px;
    height: 18px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 20px;
    width: 26px;
    height: 26px;
  }
}

.establishments {
  z-index: 98;
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    text-align: right;
    margin-left: auto;
  }
}

.establishments__item {
  position: relative;
}

.establishments__item:not(:first-child) {
  @media screen and (max-width: 1279px) {
    margin-top: 13px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 15px;
  }
}

.establishments__item::before {
  position: absolute;
  content: '';
  display: block;
  background-color: $button-text;
  border-radius: 50%;
  z-index: -1;

  @media screen and (max-width: 1279px) {
    top: -2px;
    right: -10px;

    width: 16px;
    height: 16px;
  }

  @media screen and (min-width: 1280px) {
    top: -4px;
    right: -18px;

    width: 30px;
    height: 30px;
  }
}
.establishments__item:first-child::before {
  animation: pulsing-first 2.5s infinite, get-shadow 3s infinite;
}

.establishments__item:last-child::before {
  animation: pulsing-first 3s infinite, get-shadow 2.5s infinite;
}

.establishments__count {
  font-family: $font-family-heading;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1279px) {
    font-size: 28px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 46px;
  }
}

.establishments__name {
  font-family: $main-font;
  color: $button-text;
  text-transform: none;
  letter-spacing: 0;

  @media screen and (max-width: 1279px) {
    font-size: 8px;
    line-height: 1.25;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.mr-icecream {
  position: absolute;
  z-index: 97;

  @media screen and (max-width: 479px) {
    bottom: 0;
    right: 32px;

    animation: mr-icecream-shown 1s cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 480px) {
    bottom: -162px;
    right: 100px;

    animation: mr-icecream-shown 1s cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 768px) {
    bottom: -28px;
    right: 247px;
  }

  @media screen and (min-width: 1280px) {
    bottom: -45px;
    left: 568px;

    animation: mr-icecream-shown-desktop 1s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.pink-cirkle {
  position: absolute;
  z-index: 90;

  width: 346px;
  height: 346px;

  border-radius: 50%;
  background-color: $secondary-color;

  @media screen and (max-width: 479px) {
    bottom: 75px;
    right: -62px;

    animation: pink-cirkle-shown 1.3s cubic-bezier(0.4, 0, 0.2, 1),
      pink-cirkle-shown-scale 1s cubic-bezier(0.4, 0, 0.2, 1) 1.3s;
  }

  @media screen and (min-width: 480px) {
    bottom: -85px;
    right: 20px;

    animation: pink-cirkle-shown 1.3s cubic-bezier(0.4, 0, 0.2, 1),
      pink-cirkle-shown-scale 1s cubic-bezier(0.4, 0, 0.2, 1) 1.3s;
  }

  @media screen and (min-width: 768px) {
    bottom: 18px;
    left: 293px;

    width: 337px;
    height: 337px;
  }

  @media screen and (min-width: 1280px) {
    bottom: 30px;
    left: 449px;

    width: 538px;
    height: 538px;
  }
}

.hero-section__customer {
  position: absolute;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    bottom: -28px;
    right: 35px;
    z-index: 96;

    animation: cute-girl-shown 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 1280px) {
    bottom: -45px;
    left: 852px;
  }
}
