.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding-bottom: 98px;
    padding-top: 121px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 112px;
    padding-top: 122px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 119px;
    padding-top: 127px;
  }
}
.products__set {
  font-family: $font-family-heading;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-color;

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}
.products__title {
  font-family: $font-family-heading;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $accent-color;
  margin-top: 15px;
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.15;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
  }
}
.products__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    margin-top: 144px;
  }
  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    margin-top: 259px;
  }
}
.products__item {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: flex-start;
  @media screen and (max-width: 767px) {
    max-width: 380px;
    align-self: flex-start;
  }
  @media screen and (min-width: 768px) {
    align-self: flex-start;
    width: 220px;
  }
  @media screen and (min-width: 1200px) {
    width: 329px;
    align-self: flex-start;
  }
}

.products__item:first-child {
  background: $background-header;
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    margin-bottom: 130px;
  }
  @media screen and(min-width: 768px) {
    margin-right: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.products__item::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;

  @media screen and (max-width: 767px) {
    left: calc(50% - 249px / 2);
    top: -115px;
    margin: auto;
  }
  @media screen and(min-width: 768px) {
    left: calc(50% - 220px / 2);
    top: -100px;
  }
  @media screen and (min-width: 1200px) {
    top: -200px;
    left: calc(50% - 335px / 2);
  }
}
.products__item:first-child::before {
  background-image: url('../images/products/mobile/pic1@1x.png');
  @media screen and (max-width: 767px) {
    width: 249px;
    height: 252px;
    background-image: url('../images/products/mobile/pic1@1x.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/pic1@2x.png');
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 220px;
    height: 224px;
    background-image: url('../images/products/mobile/pic1@1x.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/pic1@2x.png');
    }
  }
  @media screen and (min-width: 1200px) {
    width: 335px;
    height: 335px;
    background-image: url('../images/products/mobile/pic1@1x.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/pic1@2x.png');
    }
  }
}
.products__item:nth-child(2n) {
  background: $background-cafe;
  border-radius: 24px;
  @media screen and (max-width: 767px) {
    margin-bottom: 130px;
  }
  @media screen and(min-width: 768px) {
    margin-right: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.products__item:nth-child(2n)::before {
  background-image: url('../images/products/mobile/pic2@1x.png');
  @media screen and (max-width: 767px) {
    width: 249px;
    height: 252px;
    background-image: url('../images/products/mobile/pic2@1x.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/pic2@2x.png');
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 220px;
    height: 224px;
    background-image: url('../images/products/mobile/pic2@2x.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/pic2@2x.png');
    }
  }
  @media screen and (min-width: 1200px) {
    width: 335px;
    height: 335px;
    background-image: url('../images/products/mobile/pic2@1x.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/pic2@2x.png');
    }
  }
}
.products__item:nth-child(3n) {
  background: $background-foodtrack;
  border-radius: 24px;
}
.products__item:nth-child(3n)::before {
  background-image: url('../images/products/mobile/pic3@1x.png');
  @media screen and (max-width: 767px) {
    width: 249px;
    height: 252px;
    background-image: url('../images/products/mobile/pic3@1x.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/pic3@2x.png');
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 220px;
    height: 224px;
    background-image: url('../images/products/mobile/pic3@1x.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/pic3@2x.png');
    }
  }
  @media screen and (min-width: 1200px) {
    width: 335px;
    height: 335px;
    background-image: url('../images/products/mobile/pic3@1x.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/mobile/pic3@2x.png');
    }
  }
}
.products__product-name {
  font-family: $font-family-heading;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $button-text;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 1.15;
    padding-top: 161px;
  }
  @media screen and(min-width: 768px) {
    font-size: 20px;
    line-height: 1.15;
    padding-top: 152px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    padding-top: 163px;
  }
}
.products__product-name::after {
  position: absolute;
  font-family: $font-family-heading;
  content: '...';
  display: block;
  width: 26px;
  height: 6px;
  letter-spacing: 4px;
  @media screen and (max-width: 767px) {
    top: 203px;
    left: calc(50% - 26px / 2);
  }
  @media screen and (min-width: 768px) {
    top: 205px;
    left: calc(50% - 26px / 2);
  }
  @media screen and (min-width: 1200px) {
    top: 208px;
    left: calc(50% - 26px / 2);
  }
}

.products__text {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.04em;
  color: $button-text;

  font-size: 14px;
  line-height: 1.52;
  padding-right: 40px;
  padding-left: 40px;

  @media screen and(min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    padding-right: 11px;
    padding-left: 11px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
    padding-right: 44px;
    padding-left: 44px;
  }
}

.products__text-two {
  font-weight: 700;
  display: none;
  font-size: 16px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: $button-text;
  // @extend %centering;
  // padding-top: 20px;
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.52;
    padding-right: 40px;
    padding-left: 40px;
  }
  @media screen and(min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    padding-right: 11px;
    padding-left: 11px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
    padding-right: 44px;
    padding-left: 44px;
  }
}

.products__wrap {
  padding-bottom: 40px;
  padding-top: 66px;
  @extend %centering;
  @media screen and (min-width: 1200px) {
    padding-top: 70px;
  }
}

.button__circle--white {
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background-color: $button-text;
  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }
  @media screen and(min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 62px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: #ecebeb;
  }
}

.products__icon,
.products__icone {
  margin-right: auto;
  margin-left: auto;
}
.products__icone {
  transform: rotateZ(270deg);
}
.button-less {
  display: none;
}

#ice-cream:checked ~ .products__text-two {
  margin-top: -20px;
  display: block;
  margin: 0;
}
#ice-cream:checked ~ .button__circle--white .button-more {
  display: none;
}

#ice-cream:checked ~ .button__circle--white .button-less {
  display: inline;
}
#ice-coffee:checked ~ .products__text-two {
  margin-top: -20px;
  display: block;
  margin: 0;
}
#ice-coffee:checked ~ .button__circle--white .button-more {
  display: none;
}

#ice-coffee:checked ~ .button__circle--white .button-less {
  display: inline;
}
#milkshakes:checked ~ .products__text-two {
  margin-top: -20px;
  display: block;
  margin: 0;
}
#milkshakes:checked ~ .button__circle--white .button-more {
  display: none;
}

#milkshakes:checked ~ .button__circle--white .button-less {
  display: inline;
}
