.review {
  padding-top: 80px;
  padding-bottom: 80px;
  @media screen and(min-width:768px){
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @media screen and(min-width:1280px){
    padding-top: 123px;
    padding-bottom: 132px;
  }
}
.review.container {
  @media screen and(min-width:768px) {
    padding-left: 74px;
    padding-right: 74px;
  }
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  padding-bottom: 35px;
  }

.swiper-slide {
  display: block;
  text-align: center;
  width: 280px;
  z-index: 5;
}
.swiper-slide__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 30px;
  @media screen and(min-width:768px){
    margin-bottom: 20px;
   }
  @media screen and(min-width:1280px){
   margin-bottom: 15px;
  }
}
.slider {
 background-color: #fafafa;
 padding: 40px 60px 26px;
 position: relative;
 @media screen and(min-width:768px){
  padding-left: 100px;  
  padding-right: 100px;
 }


}
.slider__comment {
  margin: 0;
  width: 100%;
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  color: $main-text-color;
  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1,
    #e1e1e1 1px,
    #fafafa 1px,
    #fafafa 32px /* Визначає розмір градієнта */
  );
  z-index: 1;
  letter-spacing: 0.03em;
  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    background-image: repeating-linear-gradient(
      to top,
      #e1e1e1,
      #e1e1e1 1px,
      #fafafa 1px,
      #fafafa 35px 
    );
  }
  @media screen and(min-width:1280px) {
    background-image: repeating-linear-gradient(
      to top,
      #e1e1e1,
      #e1e1e1 1px,
      #fafafa 1px,
      #fafafa 30px 
    );
    font-size: 16px;
    line-height: 1.87;
  }
}

.slider__comment::before {
    position: absolute;
  top: -12px;
  left: 0;
  content: '';
  display: block;
  width: 54px;
  height: 40px;
  background-image: url(../images/iconreview.svg);
  background-size: contain;
  z-index: -1; 
  @media screen and(min-width:330px) and (max-width:767px){
    left: -20px;
  }
  @media screen and(min-width:768px) {
    left: -30px;
  }

}
.slider__comment::after{
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-70%) scale(1);
  display: block;
  content: '';
  background-image: url(../images/points.svg);
  width: 32px;
  height: 4px;
}
.slider__address {
  font-size: 14px;
  line-height: 1.85;
  font-weight: 500;
  margin-top: 52px;
  @media screen and(min-width:768px) {
    font-size: 16px;
    line-height: 1.87;
    margin-top: 42px;
  }

  @media screen and(min-width:1280px){
    font-size: 20px;
    line-height: 1.85;
    margin-top: 34px;
  }
}

.swiper-pagination-bullet-active {
  background-image: url(../images/home.svg);
  background-size: cover;
  border-radius: unset;
  background-color: transparent;
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  margin-right: 18px;

}
.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 18px;
  margin-left: 0;
}
