.slider__comment{
  background-color: #fafafa;
}
.slider__comment {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
//   color: $main-text-color;
  padding-left: 50px;
  padding-right: 50px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
  background-color: aquamarine;
}

.swiper-pagination-bullet-active {
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: aqua;

}